<div class="container-fluid">
    <h2>Tour of Heroes Dashboard</h2>
    <div class="row">
        <div class="col-md-6">
            <app-hero-list [heroes]="heroes" (heroClicked)="heroClicked($event)" (deleteHero)="deleteHero($event)"></app-hero-list>
        </div>
        <div class="col-md-6">
            <div class="row-fluid">
                <app-hero-detail [hero]="selectedHero" (heroUpdated)="heroUpdated($event)"></app-hero-detail>
            </div>
            <hr>
            <div class="row-fluid">
                <app-create-hero [heroes]="heroes" (heroAdded)="heroAdded($event)"></app-create-hero>
            </div>
            
        </div>
    </div>
    <div class="row col-md-12">
        <app-messages [messages]="messagesLog" (cleanMessageLog)="cleanMessageHistory()"></app-messages>
    </div>
    
</div>