<div class="container-fluid">
    <ul class="nav nav-tabs">
        <li *ngFor="let templates of displayTemplates; let i=index" role="presentation"
            [ngClass]="getClassForActiveNavbar(i)">
            <a [routerLink]="templates.route" (click)="show(i)" [routerLinkActive]="isActive(i)">
                {{templates.templateNameToDisplay}}
            </a>
        </li>
        <li role="presentation" class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
              Dropdown <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li *ngFor="let templates of displayTemplates; let i=index" role="presentation"
                [ngClass]="getClassForActiveNavbar(i)">
                <a [routerLink]="templates.route" (click)="show(i)" [routerLinkActive]="isActive(i)">
                    {{templates.templateNameToDisplay}}
                </a>
            </li>
            </ul>
    </ul>
    
    <router-outlet></router-outlet>
</div>